include u
include m

!!! 5
html(lang="en")
    head
        +css('bs')
        +css('themes')
        +S(["us","jq","bs","cjs","socket.io/socket.io","string",'objects','glossary','core','qq'])
        +S(['elements'])
        +S(['dem'])
        //+S(['socket'])
        //+S(['ready'])


