mixin css(fileN)
    link(rel="stylesheet", href="/#{fileN}.css")
mixin s(fileN)
    script(src="/#{fileN}.js")
mixin S(scripts)
    - each s in scripts
        +s(s)
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('in wap.jade')

        +css('bs')
        +S(["us",'string',  'jq','bootstrap', 'cjs', "socket.io/socket.io", 'both', 'handy', 'boot' ])

        +S([  'spriteSheets', 'defaultMug'])
        +S([  'create',  'easel', 'shape', 'tween', 'anim',  'muggy' ])
        +S(['handyApps','bootApps', 'muggyApps',  'shapeApps', 'animApps', 'filtApps' ])

    body




























