mixin css(fileN)
    link(rel="stylesheet", href="/#{fileN}.css")
mixin s(fileN)
    script(src="/#{fileN}.js")
mixin S(scripts)
    - each s in scripts
        +s(s)
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('in wap.jade')

        +css('bs')

        +S(["us",'string',  'jq','bootstrap', 'cjs', 'defaultMug' ,'spriteSheets', "socket.io/socket.io" ])

        +S(['both', 'handy', 'boot', 'jqAnim', 'create', 'shape','anim', 'muggy'])



        +S(['handyApps', 'bootApps', 'flexApps', 'muggyApps',  'shapeApps', 'animApps', 'filtApps' ])

    body
