include l/u
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('wap.jade')
        +css('bs')
        //+css('themes')
        //+css('jquery-ui') ****
        //BOTH
        +S(["us",'string'])
        +S(['both','bothUnder','bothMath','bothTime','bothString'])
        //FRONT
        +S(['jq','bootstrap', 'jqui'])
        +S(['objects', 'qq', 'jqfn', 'jqfnMore', 'jqEvent'])
        +S(['html',   'boot', 'bootTab', 'bootLay'])
        +S(['css','context','can','jqUIbasics', 'jqAnim','frontExtension'])
        +S(["socket.io/socket.io", 'socket'])


        +S([ 'cjs', 'spriteSheets', 'defaultMug'])

        +S([ 'image', 'create',  'easel', 'shape', 'tween', 'anim', 'yano', 'muggy', 'clientSocket'])




        //apps
        +S([ 'loadApps', 'shapeApps', 'animApps', 'matrix'])
        +S([ 'bod', 'muggyApps', 'upload', 'edit',  'universe', 'chat', 'tweenApp', 'advEaselApps'])



        //JQUI
        //+S(['mobile','draggy','droppy'])

        //BACKBONE
        //+S([ 'bb','bbmn'])
        //+S(['bbBase', 'bbModel', 'bbColl', 'bbEvent', 'bbWorking', 'bbServer'])
        //+S(['bbValid', 'bbTemps', 'localStore'])

        //+S(['ko'])
        //+S(['kobase','compute','koList','knock', 'bind', 'boundEls','koForms','koSel','koInputs','koTable'])
        //+S([  'marion', 'dialog'])
        //+S(['marLV','flex','compass','uiWidj'])

        //KNOCKOUT
        //+S(['koBinding','koLogic','kocomp'])
        //+S(['basics',   'droppy', 'uiSelect', 'uiWid'])
        //+S([ 'backbone', 'bbcl', 'bbworks', 'bbRouter', 'marion']

        +S(['init'])
    body




























