
        $("form").on("submit",function(event){
        event.preventDefault();
        console.log($(this).serialize());
        $.get('/ajax',this.serialize())
        });


            .well.text-center

