extends l/ly

block C
    .container-fluid
        .jumbotron
            .row
                .col-md-6
                    p guest page
                    h1 Have fun right now!
                    p It only takes a few seconds
                    +li
                .col-md-6
                    +fl

    .container
            .row
                .col-md-4
                .col-md-4
                    a(href="#")
                    h3.text-center
                        img(src="/me.png").img-responsive.img-circle
                        p Guest
                .col-md-4


























