extends l/basic


block C
    +b('r','monkey')
    +b('b','person')
    +b('y','group')
    +b('g','copy')
    +b('o','hi')
    +C('c',1200,'yellow');

    script.
       // $$$("tran(c)")

    canvas(id="j",width=200,height=200,style="background-color:red")
    //+C('aa',500,500,'blue')
    //+C('bb',500,500,'red')
